*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';

}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0 0 4px 2px grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}
/*myntra-logo-image*/

/* image-container*/
.myntra-logo{
    width: 3rem;
    height: 3rem;
}
/*child-of-image-container*/
.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*myntra-logo-image-end-here*/

/*link-of-navbar*/

/*ul-li-container*/
.nav-link{
    display: flex;
    align-items: center;
    
}
/*ul*/
.nav-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
li{
    list-style-type: none;
}
/*foruniversal*/
a{
    text-decoration: none;
    color: black;
}
/*nav-ul-li-a*/
.nav-li-a{
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.nav-li-a:hover{
    text-decoration: underline;
}
/*navbar-link-end-here*/

/*search-bar-start-here*/

/*input-container*/
#search{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*input*/
.search-int{
    width: 20rem;
    padding: 0.6rem 0.5rem;
    border: none;
    border-radius: 0.2rem;
    box-shadow: inset 0 0 2px 20px rgba(223, 219, 219, 0.215);
    align-items: center;
}
/*Searchbar-end-here*/

/*nav-icon-container*/
.logo{
    display: flex;
    align-items: center;
}
/*child*/
/*icon-of-profile-start-here*/
.icon-ul{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.icon-li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#span-icon{
    font-size: 0.8rem;
}
/*icon-end-here*/
    